services:
  custom-metrics:
    build: .
    environment:
      - LOCATION=${LOCATION}
      - UPDATE_INTERVAL=${UPDATE_INTERVAL}
      - PGHOST=${PGHOST}
      - PGDATABASE=${PGDATABASE}
      - PGUSER=${PGUSER}
      - PGPASSWORD=${PGPASSWORD}
      - PGSSLMODE=${PGSSLMODE}
      - PGCHANNELBINDING=${PGCHANNELBINDING}
    volumes:
      - custom_metrics_data:/data
    restart: unless-stopped

volumes:
  custom_metrics_data: {}
