services:
  custom-metrics:
    build: .
    environment:
      - PROMETHEUS_URL=${PROMETHEUS_URL}
      - LOCATION=${LOCATION}
      - UPDATE_INTERVAL=${UPDATE_INTERVAL}
      - TURSO_DATABASE_URL=${TURSO_DATABASE_URL}
      - TURSO_AUTH_TOKEN=${TURSO_AUTH_TOKEN}
      - USE_POSTGRES=${USE_POSTGRES}
      - POSTGRES_CONN_STRING=${POSTGRES_CONN_STRING}
    volumes:
      - custom_metrics_data:/data
    restart: unless-stopped

volumes:
  custom_metrics_data: {}
